.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(1, 83, 3);
    font-style: italic;
    color: gold;
}

.navbar-brand{
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
}

.spacer{
    flex: 1;
}

button{
    color: gold;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active{
    font-weight: 600;
}

.custom-toolbar{
    background-color: #ff0000;
}